/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

/* Global Styling */

h3, h4{
    font-family: 'Bungee Shade' !important;
}

/* Navbar */

.nav-link{
    padding: 0 5px;
}
